body, html{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Roboto, "Times New Roman", Baskerville, Georgia, Arial; 
    vertical-align: basline;
    color: white;
    }
     
    header{
        background-color: rgba(0, 0, 0, 0.2);
    }

    header > div {
		max-height: 170px;		/*På detta vis bestämmer man headerns höjd*/
	}

      
    a{
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        color: blue;    /* Länkarna blir blå när man för muspekaren över dem */
    }
    
    .maincontainer {
        display: flex;
        column-gap: 40px;
        height: 150px;
        align-items: center;
        font-size: 1em;  
        width: 100%;
        padding-top: 10px;
        }

            
        .box1 {
            padding: 30px;  
            display: flex;
            align-items: flex-start;
            column-gap: 40px;
            min-width: 1000px;
            
        }
        
        .box2 {
            display: flex;
            min-width: 50px;
            column-width: 100px;
            align-items: end;
            column-gap: 40px;
        }

        .maincontent{ 
            display: grid;						
			grid-template-columns: 50% 50%;	
			grid-column-gap: 10px;	  
        }

        .kontakt {
			background-color: white;
			margin-right: 20px;				
			text-align: center;
			padding-top: 50px;
			min-height: 300px;
			font-size: 3em;
			color: black;
    }
	
	 p.kontaktinfo {					
            width: 800px;
            font-size: 18pt;
            font-weight: bold;
            text-align: left;
            margin-top: 2em;
            margin-left: 2em;
            
        }
		
		.formulär {						
            
            font-size: 16pt;
            text-align: left;
            margin-left: 2em;
			            
        }
                
        p.stort_radavstånd {		
            margin-top: 2em;
            color: red;        
        }
		
		input[type="submit"] {
			display: inline;
			margin-right: 15px;
			width: 165px;
			border-radius: 25px;
			background-color: black;
			color: white;
		}
		
			input[type="reset"] {
			display: inline;
			width: 165px;
		    border-radius: 25px;
			background-color: black;
			color: white;
		}
		
			
        input { 				
            display: block;
            margin-bottom: 20px;
            height: 3em;
            width: 20em;        
        }
		
		textarea {
			margin-top: 30px;
			margin-bottom: 20px;
		}  
		
		 label { 					
            display: block;
            margin-top: 30px;           
        }
						
		.griditem1 {						
			width: 900px;
			height: 1100px;
			background-color: white;
			color: black;
			margin-left: 20px;
			font-size: 1.5em;
			text-align: center;
		}
		                   						
		.öppettider {
			margin-top: 20px;
			margin-bottom: 20px;
			padding-top: 50px;
			border: 1px solid blue;
			position: relative;
			left: 180px;
			width: 580px;
			height: 100px;
						
		}
		
         .footer{
             
            grid-template-columns: repeat(6, 1fr);
            gap: 2%;
            row-gap: 20px;
            display: grid;
            height: auto;
            background-color: rgba(0, 0, 0, 0.7);
            grid-column-start: 1;
            grid-column-end: 7;
            gap: 2%;
            padding: 10px;
         }

         .section-7{
            margin:20px;
            height: 100px;
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: left;
        }

        .section-8{
            margin:20px;
            height: 100px;
            grid-column-start: 3;
            grid-column-end: 5;
            text-align: center;
        }

        .section-9{
            margin:20px;
            height: 100px;
            grid-column-start: 5;
            grid-column-end: 7;
            text-align: right;
        }